.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}

.logoHeader {
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;

  img {
    width: 20%;
  }

  h1 {
    font-size: 30px;
    color: #fff;
  }
}

.navHeader {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    padding: 5px 10px;
    
    &:hover {
      color: #ffd700;
      
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffd700;
        bottom: 0;
        left: 0;
        transform: scaleX(1);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffd700;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
  }
}

.barraDeBusca {
  border: solid #fff;
  border-radius: 20px;
  margin-right: 1%;
  width: 20%;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  input {
    background-color: transparent;
    border: none;
    width: 60%;
    height: 5vh;

    &::placeholder {
      color: #fff;
      font-size: 20px;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 780px){
  header {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .logoHeader{  
    width: 90%;

    img{
      width: 15%;
    }
  }

  .navHeader{
    width: 95%;
  }

  .barraDeBusca{
    display: none;
  }
}