.livrosDoadosSection {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;

  h2 {
    font-size: 32px;
    text-align: center;
  }
}

.containerCards {
  width: 90%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  img{
    width: 10vw;
  }

  h3{
    font-size: 15px;
    text-align: center;
  }

  section {
    border: solid 3px #005695;
    border-radius: 20px;
    width: 18%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    div {
      text-align: center;
    }
  }
}

@media (max-width: 780px) {
  .containerCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    section {
      width: 80%;
    }
  }
}